[submodule "express-projects"]
	path = express-projects
	url = https://github.com/TheSakuMa/express-bulletinboard
[submodule "express-bulletinboard"]
	path = express-bulletinboard
	url = https://github.com/TheSakuMa/express-bulletinboard
[submodule "todolist-express"]
	path = todolist-express
	url = https://github.com/TheSakuMa/todolist-express
[submodule "express-books-diary"]
	path = express-books-diary
	url = https://github.com/TheSakuMa/express-books-diary
