<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>

<body>
    <% if (friends) { %>
    <form action="/create" method="POST">

    </form>
    <% } else { %>
        <p>チャットルームを作成するには、友だち追加が必要です。</p>
    <% } %>
</body>

</html>